/* Стиль для контейнера */
div.container {
    width: 80%;
    max-width: 600px; /* Максимальная ширина контейнера */
    margin: 100px auto; /* Автоматическое центрирование контейнера с отступом сверху */
    padding: 20px; /* Внутренние отступы контейнера */
    border: 1px solid #ccc; /* Граница контейнера */
    border-radius: 10px; /* Закругленные углы контейнера */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
}
h1 {
    text-align: center; /* Центрируем заголовок */
    margin-bottom: 10px; /*отступ снизу заголовка */
    font-size: 1.5rem; /*размер шрифта заголовка */
}

/* Стиль для таблицы */
table {
    width: 95%; /* Ширина таблицы на всю ширину контейнера */
    border-collapse: separate; /* Объединение границ ячеек */
    margin: 20px auto
}

th, td {
    padding: 10px; /* Внутренние отступы ячеек */
    border: 1px solid #ddd; /* Граница ячеек */
    word-break: break-all; /* Перенос длинного текста */
}

th {
    background-color: #f9f9f9; /* Фон для заголовков таблицы */
    width: 150px;
}

/* Стиль для кнопок */
.btn-container {
    display: flex; /* Использование flexbox для контейнера кнопок */
    justify-content: center; /* Центрирование кнопок */
    gap: 10px; /* Отступ между кнопками */
}

.btn {
    width: 100px; /* Фиксированная ширина для кнопок */
}
.description-cell {
    max-height: 150px; /* Максимальная высота ячейки */
    overflow-y: auto; /* Появление вертикальной полосы прокрутки при необходимости */
}