.task-list-title {
    margin-top: 70px;
}

.task-list-table {
    margin-top: 40px;
}
th, td {
    word-wrap: break-word; /* Перенос слов для длинного текста */
    word-break: break-all; /* Перенос длинного текста */
}

/* Центрирование содержимого таблицы */
.task-list-table th, .task-list-table td {
    text-align: center; /* Выравнивание текста по центру */
    vertical-align: middle; /* Вертикальное выравнивание по центру */
}
