{% extends 'app/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/styles_task_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Task Detail</h1>
        {% if task %}
        <table>
            <tr>
                <th>Title</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ task.status }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ task.category.name }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ task.priority.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>
                        <div class="description-cell">
                            {{ task.description }}
                        </div>
                </td>
            </tr>
        </table>
        
        <div class="btn-container mt-3 d-flex justify-content-center">
            <a href="{% url 'update_task' task.id %}" class="btn btn-primary mr-2">Edit</a>
            <form action="{% url 'delete_task' task.id %}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить эту задачу?');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}
