{% extends 'app/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Task Detail</h1>
        {% if task %}
        <table>
            <tr>
                <th>Title</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ task.status }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ task.category.name }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ task.priority.name }}</td>
            </tr>
            <tr>
                <th>Completed</th>
                <td>{{ task.completed_at}}</td>
            </tr>
        </table>
        
        <p><a href="{% url 'update_task' task.id %}">Edit Task</a></p>
        {% else %}
        <p>Task not found or access denied.</p>
        {% endif %}
        <form action="{% url 'delete_task' task.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this task?');">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Task</button>
        </form>
    </div>
{% endblock %}
